 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*/ RESET /*/

 html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h4, h3, p,
form, fieldset, label, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  box-sizing: content-box;;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  background: transparent;
  box-shadow: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
  text-decoration: none;
  font-family: sans-serif;
  height: 100%;
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: 36px;
}



 /*/ CLEARFIX /*/

.group:after {
   content: "";
   clear: both;
   display: block;
 }

/*/ HEADER /*/

.over-head {
  background: #026aa7;

}

.nav-bar {
  color: white;

}

.top-buttons {
	font-weight: bold;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  /*background: #2af;*/
  margin: 5px 5px 5px 5px;
	font-size: 14px;
  /*background: -webkit-linear-gradient(top,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);*/
  background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
}

.top-buttons:hover {
	cursor: pointer;
	background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
}

.over-head-left {
  float: left;
}

.over-head-left > li {
  float: left;

}

.over-head-right {
  float: right;
}

.over-head-right > li {
  float: left;
}

.top-button:hover {
	cursor: pointer;
}

.over-head-logo {
  font-weight: bold;
  font-size: 26px;
  padding: 1px;
  text-align: center;
  top: 10px;
  letter-spacing: 2px;
}

.over-head-logo:hover {
	cursor: pointer;
	color: #dddddd;
}
/*/ /*/ /*/ OVERHEAD DROPDOWNS /*/ /*/ /*/
.board-dropdown, .profile-dropdown, .info-dropdown {
	padding: 9px;
	box-shadow: 1px 1px 3px 1px #a2a4a6;
	border: none;
	border-radius: 3px;
	z-index: 10;
	color: grey;
	position: absolute;
	width: 300px;
	height: auto;
	background: white;
	top: 50px;
}

/*/ BOARDS DROPDOWN /*/

.board-dropdown {
	left: 0;
}

#board-dropdown-button {
	height: 15px;
	padding: 5px 10px 10px 10px;
}

.board-dropdown-item-link {

}
.board-dropdown-item-link-wrapper {
	text-align: left;
	display: block;
	height: 40px;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.board-dropdown-item-link:hover {
	cursor: pointer;
}

.board-dropdown-item-link:hover .board-dropdown-item-thumbnail{
	background: #026aa7;

}

.board-dropdown-item-link:hover .board-dropdown-item-title{
	background: #2af;
	color: white;
}

.board-dropdown-item-thumbnail {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	float: left;
	display: block;
	background: #aaaaaa;
	width: 36px;
	height: 36px;
}

.board-dropdown-item-title {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 239px;
	padding: 7px 5px 6px 20px;
	float: left;
	display: inline-block;
	font-size: 20px;
	background: #eeeeee;
	overflow: hidden;
  text-overflow: ellipsis;
}

/*/ PROFILE DROPDOWN /*/

.profile-button {
	font-weight: bold;

	border-radius: 3px;
	margin: 5px 5px 5px 5px;
	font-size: 14px;
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
}

.profile-button:hover {
	cursor: pointer;
	background: linear-gradient(to bottom,rgba(255,255,255,.4) 0,rgba(255,255,255,.3) 100%);
}

.profile-thumb:hover > h2 {
	cursor: pointer;
	background: #cdd2d4;
}

.profile-name {
	padding: 7px 10px 7px 10px;
	float: left;
}

.profile-thumb {
	text-align: center;
	vertical-align: middle;
	float: left;
	height: 30px;
	width: 30px;
}

.profile-thumb > h2 {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 7px 0 7px 0;
	color: #4d4d4d;
	background: #d6dadc;
}

.profile-dropdown {

	right: 5px;
}

.profile-dropdown-logout:hover {
	background: #0079bf;
	cursor: pointer;
	color: white;
}


/*/ INFO DROPDOWN /*/

.info-dropdown {

	right: 5px;
}

.content {
	margin: 1pc auto;
	padding: 1pc;
	max-width: 1250px;
}
.board-index-head {
}

.board-index-title, .board-starred-title {

	color: #4d4d4d;
	font-size: 1pc;
}
.board-index-title {
	margin-bottom: 15px;
}

.board-starred-title {
	margin-bottom: 40px;
}

.board-index {
	display: flex;
	flex-wrap: wrap;
  width: 100%;
  color: white;
  border-radius: 3px;
  margin: auto;
  text-align: center;
}

.board-index h2 {
  margin: auto;

}

.board-list-item, .create-board-button {
	text-align: left;
	box-sizing: content-box;
  display: inline-block;
  width: 22%;
  height: 80px;
  padding: 10px 10px 10px 10px;
  background: #0079bf;
  border-radius: 3px;
  margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	white-space: pre-line;
  text-overflow: ellipsis;
	/*background-color: rgba(0,0,0,.15);*/
}

.board-list-item:hover {
	background: #026aa7;
	cursor: pointer;
}
#create-board-button {
  position: relative;
	text-align: center;
	height: 50px;
	padding-top: 40px;
	background: #d6dadc;
	color: #aaaaaa;
}

#create-board-button:hover {
	background: #d6dadc;
	color: #4d4d4d;

}

/*/ /*/ /*/ BOARD FORM /*/ /*/ /*/

.board-creation-div {
	width: 100%;
  border: 1px solid #e2e4e6;
  color: #aaaaaa;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.create-form > h4 {
  border-bottom: 1px solid grey;
}

.create-form > label {
  float: left;
}



.board-list-item:hover, .create-board-button:hover {
  cursor: pointer;

}

/*/ /*/ /*/ /*/ /*/ /*/ /*/ BOARDSHOW /*/ /*/ /*/ /*/ /*/ /*/ /*/


#board {
  background: rgb(0, 121, 191);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
	padding: 8px;
}
.board-bar > ul {
	float: left;
}

.board-bar > ul > li {
	float: right;
}

.board-title {
	border-radius: 3px;
	padding: 5px 10px;
	color: white;
	position: relative;
}

.board-title > h4 {
	font-size: 18px;
}

.board-title:hover {
	background: #19e;
	cursor: pointer;
}

/*/ /*/ /*/ EDIT BOARD TITLE /*/ /*/ /*/
.edit-board-title {
	border-radius: 2px;
	z-index: 10;
	position: absolute;
	background: white;
	width: 200px;
	height:auto;
	padding: 10px;
	top: 40px;
	left: 0;
}

.edit-board-header {
	text-align: center;
	color: #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.new-title > label {
	font-size: 14px;
	font-weight: bold;
	color: #444444;
	margin-top: 10px;
}


.board-title-field {
	font-size: 16px;
	padding: 5px;
	box-shadow: 0 0 1px 1px blue;
	border-radius: 2px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 180px;
	border: none;
}

/*/ /*/ /*/ BOARD CONTENT /*/ /*/ /*/

.board-content {
	position: relative;
	white-space: nowrap;
	text-align: left;
}

/*/ /*/ /*/ CARDS /*/ /*/ /*/
.card-index {
	float: left;

}

.card-list {
	float: left;
}

.card-list-item {
	float: left;
	vertical-align: top;
  display: inline-block;
  width: 260px;
  height: auto;
  background: #e2e4e6;
  border-radius: 3px;
  margin: 5px;
  position: relative;
}

.card-title {
	color: #4d4d4d;
  padding: 10px 20px 10px 20px;
}
/*/ CARD CREATION /*/

 #card-creation-button {
  display: inline-block;
  width: 230px;
  height: 30px;
  padding: 10px 20px 0 20px;
  background: #026aa7;
  border-radius: 3px;
  margin: 5px;
	color: white;
}

#card-creation-button > h2 {
	font-weight: normal;
	color: rgba(255,255,255,.7);
}

#card-creation-button:hover {
	background: rgba(0,0,0,.3);
	cursor: pointer;

}

#card-creation-div {
  padding: 5px;
	height: 80px
}

.card-input-field {
  width: 244px;
  margin-bottom: 5px;
  padding: 7px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: inset 0 1px 8px #a4a4a4;
	background: #d4d4d4;
	border-color: #aaa;
}

/*/ CARD EDIT /*/

.edit-card {

	padding: 5px 5px 10px 5px;
}

.edit-input-field {
  width: 230px;
  margin-bottom: 5px;
  padding: 9px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: inset 0 1px 8px #a4a4a4;
	background: #d4d4d4;
	border-color: #aaa;
}

/*/ /*/ /*/ TASKS /*/ /*/ /*/

.task-list-item {
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	background: white;
	box-shadow: 0px 1px 0px 0px rgb(210, 212, 214);
	white-space: pre-wrap;

}

.task-list-item:hover {
	background: #efefef;
	cursor: pointer;
}

.task-list-item > p {
	color: #4d4d4d;
	font-size: 14px;
	width: 200px;
}

.task-list-padding {
  padding: 0 10px 7px 10px;
}

/*/ TASK CREATION /*/

.task-creation-button {
  padding: 10px 20px 10px 20px;
  width: 220px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.task-creation-button > p {
	color: #8c8c8c;
}

.task-creation-div {
  padding: 0 10px 5px 10px;
  width: 220px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

}

.task-creation-button:hover {
  background: #cdd2d4;
	cursor: pointer;
}

.task-creation-button:hover > p {
	color: #4d4d4d;
	text-decoration: underline;
}

.task-form-field {
	text-align: left;
  background: white;
  line-height: 20px;
  height: 60px;
  width: 220px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 0 0 #d2d4d6;
  padding: 5px 10px 40px 10px;
	resize: none;
}

.create-task {
  padding: 10px 20px 10px 20px;
}

.new-task {
	margin-bottom: 10px;
}

.new-task > .submit {
	margin-top: 10px;
}

.edit-task-head {
	padding-bottom: 10px;
}

.edit-task{

	z-index: 10;
	border-radius: 3px;
	background: #efefef;
	width: 300px;
	height: 220px;
	position: absolute;
	top: 5px;
	left: 10px;
	text-align: center;
	box-shadow: 1px 1px 3px 1px #a2a4a6;
}

.task-edit-form {
	padding: 20px;

}

/*/ SUBMIT BUTTON /*/
.submit {
  cursor: pointer;
  color: white;
  padding: 10px 20px 10px 20px;
  background: linear-gradient(to bottom,#61bd4f 0,#5aac44 100%);
  box-shadow: 0 1px 0 #3f6f21;
  border-radius: 3px;
}

.submit:hover {
	background: #4eaa3a;

}

.submit:active {
  background: #419d2f;
	box-shadow: inset 0 1px 2px #333333;
}

/*/ WELCOME PAGE /*/
.main-page-logo {
	font-size: 100px;
	color: #127ab7;
	font-family: sans-serif;
	padding: 40px 20px;
}

.main-blurb {
	color: #4d4d4d;
}

.main-submit {
	margin: 20px;
}

.login {
	color: #aaaaaa;
}

.login:hover {
	cursor: pointer;
	color: #444444;
}

.first-main {
	padding: 50px;
	text-align: center;
	background: #eeeeee;
	margin: auto;
	height: 600px;
}

.second-main {
	padding: 50px;
	text-align: center;
	background: #127ab7;
	margin: auto;
	height: 600px;
}

/*/ LOGIN SIGN UP /*/

.sign-up-main, .login-main {
	padding: 50px;
	text-align: center;

}

.sign-up-container, .login-container {

}

.sign-up-header, .login-header {
	margin: auto;
}

.sign-up-form, .login-form {
	text-align: left;
	top: 50px;
	padding: 20px;
	width: 300px;
	margin: auto;
}

.sign-up-label, .login-label {
	font-size: 20px;
}

.sign-up-input, .login-input {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

/*/ OVERLAY /*/

.overlay-back {
    position   : fixed;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    z-index    : 5;
    display    : none;
}

#overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : none;
}
